.user_list_wrap {
    padding: 0 48px;
    max-width: 1120px;
    margin: 0 auto;
}

.user_list_title {
    padding: 6rem 0;
    font-family: 'Montserrat', sans-serif !important;
    color: #444f60;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    text-align: center;
  }

.user_list_content {
    width: 50%;
    margin: 0 auto;
}