@import '~antd/dist/antd.css';

.not_found {
  padding: 6rem 0;
  &_title {
    font-family: 'Montserrat', sans-serif !important;
    color: #444f60;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    text-align: center;
  }

  &_image {
    display: flex;
    justify-content: space-evenly;
  }
}
