.register_wrap {
  padding: 0 48px;
  max-width: 1120px;
  margin: 0 auto;
  text-align: center;
}

.register_title {
  padding: 6rem 0;
  font-family: 'Montserrat', sans-serif !important;
  color: #444f60;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  text-align: center;
}

.form_wrap {
  width: 33.33%;
  margin: 0 auto;
}
